name: PR Build Test
on:
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setting environment file
        run: |
          cp .env.dev .env
      - name: Install Dependencies
        run: |
          npm install --force
      - name: Alpha Build
        run: |
          npm run build
